<div>
  <h1 data-selector="commandes.title">Liste des commandes</h1>
  <button data-selector="commandes.add" @click="addCommande">Ajouter une commande</button>
  <div v-if="commandes.length > 0">
    <table data-selector="commandes.table" aria-label="commandes-table">
      <tr>
        <th data-selector="commandes.table.header.nom">Nom</th>
        <th data-selector="commandes.table.header.numero">Numéro de téléphone</th>
        <th data-selector="commandes.table.header.crepes">Crêpes</th>
        <th data-selector="commandes.table.header.galettes">Galettes</th>
        <th data-selector="commandes.table.header.heure-de-retrait">Heure de retrait</th>
      </tr>
      <tr v-for="commande in commandes" data-selector="commandes.table.row">
        <td data-selector="commandes.table.row.client.nom">{{ commande.client.nom }}</td>
        <td data-selector="commandes.table.row.client.numero">{{ commande.client.numero }}</td>
        <td>
          <span data-selector="commandes.table.row.crepe" v-for="crepe in commande.crepes">
            {{ crepe }}
            <br />
          </span>
        </td>
        <td>
          <span data-selector="commandes.table.row.galette" v-for="galette in commande.galettes">
            {{ galette }}
            <br />
          </span>
        </td>
        <td data-selector="commandes.table.row.heure-de-retrait">{{ commande.heureDeRetrait }}</td>
      </tr>
    </table>
  </div>
</div>
